body {
    padding: 20px;
    margin-top: 50px;		
    font-family: 'Source Sans Pro', Arial, sans-serif;
}

@media (max-width: 920px) {
  .flex-container {flex-direction: column}
}

.flex-container{
    width: 80%;
    min-height: 300px;
    margin: 0 auto;
    display: -webkit-flex; /* Safari */     
     display: flex; /* Standard syntax */
}

.flex-container, .column {
    padding: 10px;
    -webkit-flex: 1; /* Safari */
    -ms-flex: 1; /* IE 10 */
    flex: 1; /* Standard syntax */
}

body, .flex-container .column, .flex-container .column.bg-alt {
    background: #fff;
}

img {
    max-width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto
}

img.resize {
    width:540px; /* you can use % */
    height: auto;
}

.shadow {
    -webkit-filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.3));
}

a { 
    text-decoration: none;
    color: #924A42;	
}

a:hover { text-decoration: underline; }

p {
    font-size: 1em;
    line-height: 1.5em;
    margin: 1.25em 0;
    text-align: justify;
}

.btitle {
    font-size: 30px;
    font-family: 'Bitstream Vera Sans';
    font-weight: bold;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 12px;
    background-color: #924A42;
    color: white;
    text-align: center;
}

